<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>66812962587-1melobgoo2n16rbnukfsu3qcfvpeo7um.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.66812962587-1melobgoo2n16rbnukfsu3qcfvpeo7um</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>66812962587-1urft5vf5ho831et6t37vlldhbrf7rud.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBpzT46q83H88YZxaX32aLZyHECfdRfZdQ</string>
	<key>GCM_SENDER_ID</key>
	<string>66812962587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.drudotstech.SailingChefs</string>
	<key>PROJECT_ID</key>
	<string>sailingchefs-3e3cb</string>
	<key>STORAGE_BUCKET</key>
	<string>sailingchefs-3e3cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:66812962587:ios:9e68ed6e74ad4d83e655be</string>
</dict>
</plist>